@media only screen and (max-width: 600px) {
    .logo {
       background: rgb(255, 30, 0);
    }

    #normal-version{
        display: none;
    }
    #movil-version{
        display: block;
    }

    .content-first {
        margin-left: -2%;
        border: none;
    }
    .banner {
        width: 105%;
        height: auto;
        margin-left: 0%;
        content: url("../../../img/movil/banner.png");
    }

    #move-movil{
        border-top: solid #ec5850;;
        border-bottom: solid #ec5850;;
    }

    .move{
        font-size: 5vw;
    }

    #logo{
        width: 25%;
        margin: 2%;
    }

    #header{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    #menu{
        width: 10%;
        margin-right: 5%;
    }

    .button-idiom {
        font-size: 3.5vw;
    }

    .reserve{
        margin-left: 35%;
    }


    .slide-a span, .slide-b span, .slide-c span, .slide-d span, .slide-e span {
        width: 4vh;
        height: 4vh;
    }

    .slide-a, .slide-b, .slide-c, .slide-d, .slide-e {
        position: absolute;
        bottom: 1%;
        z-index: 3;
        left: 10%;
    }
    .slide-a{
        top: 90%;
    }

    .a-whats{
        left: 85%;
    }



    #circle text{
        font-size: 2.1vh;
    }

    #circle svg {
        margin-left: 6%;
        width: 85%;
        height: 85%;
        margin-top: 8%;
    }

    #myBtn {
        width: 95%;
        z-index: 7;
        position: absolute;
         margin-left: 0%;
    }

    #circle {
        position: relative;
        width: 110%;
        margin-left: -17%;
        margin-top: 20%;
        padding-bottom: 100%;
        overflow: inherit;
    }

    
}