@media only screen and (min-width: 1200px) {
    .logo {
        background: rgb(228, 8, 136);
     }
     .banner {
        padding-top: 5vh;
    }
    .div-white {
        margin-top: 5%;
    } 

    
.slide-a {
    top: 90%;
  }
  .slide-b {
    top: 190%;
  }
  .slide-c {
    top: 290%;
  }
  .slide-d {
    top: 390%;
  }
  .slide-e {
    top: 490%;
  }

  #container-c {
    margin-top: 0%;
}
#como-jugar{
    padding-top: 0%;
}
} 