@media only screen and (min-width: 600px) {



/* .logo {
       background: yellow;
    } */
    .banner {
        padding-top: 18vh;
    }
    .div-white {
        margin-top: 20%;
    } 

    .photo-on{
        top: -1vw;
        height: 58%;
        width: 58%;
    }

    
    #myBtn{
        width: 60%;
        margin-left: 20%;
  }
  #circle svg {
    top: -4vw;
    height: 80vw;
    margin-top: -13vw;
}


    .div-red, .div-blue{
        height: 42%;
    }

    .photo-on-b {
        height: 90%;
    }
    
    #container-c {
        margin-top: 6%;
    }

    #como-jugar{
        padding-top: 15%;
    }

    
    #content-modal {
        margin-left: 50vh;
        margin-right: 3vh;
        margin-top: 12%;
    }

    #galery-modal {
        width: 35vh;
        margin-top: 10%;
    }

    .panel-left-div{
        bottom: 15%;
      }
   
}