@media only screen and (min-width: 650px) and (max-height: 500px) {
    .logo {
           background: rgb(0, 255, 179);
        }
        .banner {
            padding-top: 8vh;
        }
        .div-white {
            margin-top: 5%;
        } 
    
        .photo-on{
            top: -1vw;
            height: 50%;
            width: 50%;
        }
    
        
        #myBtn{
            width: 47%;
            margin-left: 25%;
      }
      #circle svg {
        top: -4vw;
        height: 70vw;
        margin-top: -13vw;
    }
    
    
        .div-red, .div-blue{
            height: 42%;
        }
    
        .photo-on-b {
            height: 90%;
        }
        #container-c {
            margin-top: 0%;
        }
        #como-jugar{
            padding-top: 0%;
        }


        .slide-a {
            top: 90%;
          }
          .slide-b {
            top: 220%;
          }
          .slide-c {
            top: 330%;
          }
          .slide-d {
            top: 460%;
          }
          .slide-e {
            top: 580%;
          }


          #content-modal {
            margin-left: 55vh;
            margin-right: 3vh;
            margin-top: -1%;
        }
    
        #galery-modal {
            width: 40vh;
            margin-top: 5%;
            margin-left: -52%;
        }
      
}