.section {
  height: 100vh;
}

body {
  background: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 2s ease-in-out;
}

.color-ende {
  background-color: #ffffff;
}

.color-portafolio {
  background-color: #fab813;
}

.color-gente {
  background-color: #720d09;
}

.color-mensajes {
  background-color: #071b44;
}

.move {
  box-sizing: border-box;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  color: #071b44;
  animation: text-slide-left 30s linear infinite;
  padding-bottom: 4.2%;
  overflow: hidden;
  height: 5%;
  margin-top: 5%;
}

@keyframes text-slide-left {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: -200%;
  }
}

.left-panel {
  width: 20%;
  height: 102%;
  position: fixed;
  border-right: solid;
  border-color: #e7291e;
  margin-top: -1.6%;
  margin-left: -2%;
  z-index: 3;
}

.logo {
  width: 45%;
  margin-left: 27%;
}

.content-first {
  margin-left: 25%;
  margin-right: 5%;
  border-top: solid;
  border-color: #ec5850;
  margin-top: 3%;
}

.banner {
  padding-top: 4vh;
  width: 70%;
  margin-left: 20%;
}

.slide-a {
  padding-top: 8%;
  position: absolute;
  bottom: 1%;
  left: 23%;
}

.slide-a span {
  position: absolute;
  top: 0;
  width: 5vh;
  height: 5vh;
  border-left: 4px solid #e7291e;
  border-bottom: 4px solid #e7291e;
  -webkit-transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
}

.slide-b {
  top: 185%;
  position: absolute;
  bottom: 1%;
  left: 23%;
}

.div-white {
  margin-top: 5%;
  width: 77%;
  height: auto;
  position: absolute;
  left: 20%;
}

.slide-b span {
  position: absolute;
  top: 0;
  width: 5vh;
  height: 5vh;
  border-left: 4px solid #e7291e;
  border-bottom: 4px solid #e7291e;
  -webkit-transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
}

.a-whats {
  padding-top: 7%;
  position: absolute;
  bottom: 1%;
  left: 90%;
}

.a-whats img {
  position: fixed;
  top: 90%;
  width: 7vh;
  z-index: 4;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.left-text {
  margin: 10%;
  padding-top: 2.2vh;
  padding: 1vh;
  margin-top: 35vh;
  border-top: solid;
  color: #e7291e;
  font-weight: bold;
}

.reserve {
  font-size: 3.2vh;
  margin-left: 42%;
  margin-top: 7%;
  font-weight: bold;
  color: #071b44;
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: #e7291e;
}

.social-icon {
  width: 2.8vw;
  margin-top: 2%;
  margin-right: 1%;
}

@font-face {
  font-family: "belwe";
  src: url(fonts/BelweBoldBT.ttf);
}

.font {
  font-family: "belwe", Arial, sans-serif;
}

#container {
  margin: 0%;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle text {
  font-size: 9px;
  font-family: "belwe", Arial, sans-serif;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vw;
  margin-top: -11.5vw;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  -o-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.photo-on {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  margin-left: 53%;
  margin-top: -15%;
  height: 50%;
  width: 50%;
}

.photo-on-b {
  position: absolute;
  top: 0px;
  z-index: 3;
  margin-top: -14%;
  height: 120%;
  width: 30%;
}

.photo-on-c {
  position: absolute;
  z-index: -3;
  margin-top: 10%;
  height: 40vw;
  width: 30vw;
  margin-left: -47%;
}

.photo-on-d {
  position: absolute;
  z-index: -4;
  margin-top: -5%;
  height: 25vw;
  width: 38vw;
  margin-left: -36%;
}


#container-c {
    width: 72%;
    margin-left: 22%;
    padding: 1%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 33%;
    vertical-align: middle;
    border: solid;
    border-color: white;
    position: absolute;
    z-index: 1;
}

#container-c-a {
  width: 100%;
  border-top: solid;
  margin-right: 125%;
  border-bottom: solid;
  border-color: white;
}

#container-c-a .move {
  color: white;
}

.no-border {
  border: none;
}

.slide-c {
  top: 290%;
  position: absolute;
  left: 23%;
}

.slide-c span {
  position: absolute;
  top: 0;
  width: 5vh;
  height: 5vh;
  border-left: 4px solid #e7291e;
  border-bottom: 4px solid #e7291e;
  -webkit-transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
}

.footer-a {
  position: absolute;
  left: 25%;
  border-top: solid;
  border-color: #e7291e;
  width: 72%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 4;
}

.footer-a p {
  position: absolute;
  top: 0;
  width: 98%;
  font-family: "belwe", Arial, sans-serif;
  color: white;
  font-size: 1.55vw;
  padding-top: 1%;
  margin-right: 4.2%;
}
