@font-face {
  font-family: "belwe";
  src: url(../../fonts/BelweBoldBT.ttf);
}

.font {
  font-family: "belwe", sans-serif;
}

@font-face {
  font-family: "belwel";
  src: url(../../fonts/BelweLightBT.ttf);
}

.fontl {
  font-family: "belwel", sans-serif;
}

.section {
  height: 100vh;
}


.button-idiom{
  background: none;
  border: none;
  font-family: "belwe", Arial, sans-serif;
  color: #e7291e;
  font-size: 1.2vw;
}
html:lang(en) {
  /* display: none; */
}
html:lang(es) {
  /* display: none; */
}
body {
  background: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 2s ease-in-out;
}

.color-ende, .color-conocenos,
.color-ende-m, .color-conocenos-m {
  background-color: #ffffff;
}

.color-portafolio, .color-mensajes,
.color-portafolio-m, .color-mensajes-m, .color-la-embajada-m, .color-pola-comida-m {
  background-color: #fab813;
}

.color-como-jugar,
.color-como-jugar-m, .color-reserve-cancha-m {
  background-color: #071b44;
}
.color-gente,
.color-gente-m, .color-reserve-cancha-m{
  background-color: #720d09;
}


.move {
  box-sizing: border-box;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none !important;

  animation: text-slide-left 55s linear infinite;
  padding-bottom: 4%;
  overflow: hidden;
  height: 5%;
  margin-top: 3%;
}

.bluef{
    color: #071b44 !important;
}

@keyframes text-slide-left {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: -360%;
  }
}

.left-panel {
  width: 20%;
  height: 102%;
  position: fixed;
  border-right: solid;
  border-color: #e7291e;
  margin-top: -4%;
  margin-left: -2%;
  z-index: 3;
}

.logo {
  width: 45%;
  margin-left: 27%;
}

.content-first {
  margin-left: 22%;
    margin-right: 3%;
    border-top: solid;
    border-color: #ec5850;
    margin-top: 1%;
}

.banner {
  padding-top: 4vh;
    width: 74vw;
    height: 30vw;
    margin-left: 0%;
}


.slide-a, .slide-b, .slide-c, .slide-d, .slide-e {
  top: 90%;
  position: absolute;
  bottom: 1%;
  z-index: 3;
  left: 23%;
}

.slide-a span, .slide-b span, .slide-c span, .slide-d span, .slide-e span {
  position: absolute;
  top: 0;
  width: 5vh;
  height: 5vh;
  border-left: 4px solid #e7291e;
  border-bottom: 4px solid #e7291e;
  -webkit-transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
}

.slide-a {
  top: 90%;
}
.slide-b {
  top: 190%;
}
.slide-c {
}
.slide-d {
  top: 390%;
}
.slide-e {
  top: 490%;
}

#myBtn:hover,
#myBtn:focus {
    cursor: pointer;
  }

.div-white {
  margin-top: 5%;
  width: 77%;
  height: auto;
  position: absolute;
  left: 20%;
}

.a-whats {
  padding-top: 7%;
  position: absolute;
  bottom: 1%;
  left: 90%;
}


.a-whats img {
  position: fixed;
  top: 88%;
  width: 7vh;
  z-index: 4;
}

.a-fac {
  padding-top: 7%;
  position: absolute;
  bottom: 1%;
  left: 10%;
}

.a-fac img {
  position: fixed;
  top: 92%;
  width: 2.7vw;
  z-index: 4;
}

.a-ins {
  padding-top: 7%;
    position: absolute;
    bottom: 1%;
    left: 13.25%;
}

.a-ins img {
  position: fixed;
  top: 92%;
  width: 2.7vw;
  z-index: 4;
}


@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.left-text-div {
  margin: 10%;
  margin-left: -20%;
  padding: 1vh;
  margin-top: 5%;
  border-top: solid #e7291e;
  
  
}



.left-text {
  color: #e7291e;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2vw;
}
.reserve {
  font-size: 3.2vh;
  margin-top: 2%;
  font-weight: bold;
  color: #071b44;
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: #e7291e;
  cursor: pointer;
}

.social-icon {
  width: 2.8vw;
  margin-top: 2%;
  margin-right: 1%;
}



#container {
  margin: 0%;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle text {
  font-size: 1.6vh;
  font-family: "belwe", Arial, sans-serif;
}

#circle svg {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 65vw;
  margin-top: -13vw;
  animation-name: rotate;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.photo-on {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  margin-left: 41%;
  margin-top: -4%;
  height: 50%;
  width: 50%;
}

.photo-on-b {
  position: absolute;
  top: 0px;
  z-index: -1;
  margin-top: 6%;
  height: 105%;
}



.photo-on-c {
  position: absolute;
  z-index: -4;
  margin-top: -5%;
  width: 43vw;
  margin-left: -45%;
}


#container-c {
  width: 70%;
    cursor: pointer;
  margin-left: 22%;
  padding: 2%;
  padding-bottom: 17%;
  height: 33%;
  vertical-align: middle;
  border: solid;
  border-color: white;
  position: absolute;
}

#container-c-a {
  width: 100%;
    height: 0%;
    padding-bottom: 7%;
    margin-right: 125%;
}

#container-c-a .move {
  color: white;
}

.no-border {
  border: none;
}



.footer-a {
  position: absolute;
  left: 22%;
  border-top: solid;
  border-color: #e7291e;
  width: 72%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 6;
  margin-bottom: 8%;
  padding-bottom: 0%;
}

.footer-a p {
  position: absolute;
    top: 0;
    width: 110%;
    font-family: "belwe", Arial, sans-serif;
    font-size: 1.35vw;
    padding-top: 2%;
    margin-left: 5.5%;
}

.circle-menu{
  font-size: 1.5vw;
  margin-left: -10%;
  margin-right: -3%;
  display: none;
}

#myBtn{
  width: 50%;
  z-index: 7;
  position: absolute;
  margin-left: 25%;
}

.panel-left-div{
  margin-left: 35%; 
  position: absolute;
   bottom: 8%;
}