.title_div {
  color: red;
  font-size: 17px;
  font-weight: bold;
}

td {
  font-size: 13px;
}
.p_note {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

#div_counter_canchas {
  display: flex;
  margin-top: -68px;
  margin-bottom: -65px;
}

#div_counter_canchas button {
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  outline: none;
}

#p_canchas,
#p_personas {
  font-size: 25px;
  color: red;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  padding-bottom: 30px;
}
.next {
  border: olivedrab;
}
.dropdown-menu {
  width: 200px;
  margin-top: -40px;
}

table {
  border-collapse: collapse;
  margin-top: -38px;
}

.dow {
  border: 1px solid red;
}
td {
  border: 1px solid red;
}

th {
  color: red;
}

.switch {
  border: none;
  padding: 15px;
}

.button_continuar {
  border: solid red 2px;
  background: white;
  color: red;
  cursor: pointer;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
}

#first-section #container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#second-section {
  padding: 8px 30px 20px 30px;
}

#first-section,
#second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputhide {
  pointer-events: none;
  width: 0px;
  height: 0px;
  margin-top: -11px;
}

#div-fecha-section,
#div-hora-section,
#div-canchas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#div-hora {
  display: grid;
  justify-items: center;
  grid-template-columns: 90px 90px 90px 90px;
}

#div-hora-section {
  text-align: center;
  margin-bottom: 1px;
  color: red;
  font-weight: bold;
}

#div-hora {
  height: 124px;
  overflow-y: scroll;
  overflow: hidden;
  align-items: center;
  border: none;
}

#div_dates_in_hour {
  margin-bottom: 20px;
  min-height: 30px;
}

#div-hora button {
  width: 90%;
  background: transparent;
  border: solid red 1px;
  padding: 3%;
  margin-bottom: 8%;
}
#div-hora button:last-child {
  margin-bottom: 0%;
}

#div-hora button:focus {
  outline: 0;
}

.button_change_canhcas:focus {
  outline: 0;
}

/* The Modal (background)  _______________________________________________________________________*/
/* .modalt {
} */

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe91;
  margin: 6% auto;
  padding: 20px;
}

.modal-content-second,
.modal-content,
.modal-content-third {
  margin: 10px;
  border: solid black 2px;
  box-shadow: 0px 1px 15px 6px rgba(0, 0, 0, 0.16);
}

.modal-content-second .cancelar-reserva,
.modal-content-third .cancelar-reserva {
  right: 7.6%;
  margin-top: 12px;
}

/* The Close Button */
.cancelar-reserva {
  background-image: url(../../img/svg/close-icon.svg);
  width: 4vw;
  height: 11%;
  position: absolute;
  right: 5%;
  background-repeat: no-repeat;
}

.regresar {
  background-image: url(../../img/back.png);
  width: 4vw;
  height: 11%;
  position: absolute;
  background-repeat: no-repeat;
}

.cancelar-reserva:hover,
.cancelar-reserva:focus {
  background-image: url("../../img/svg/close-icon-hover.svg");
  cursor: pointer;
}

.cancha-button {
  border: solid 1.5px;
  background: white;
  margin: 5px;
}

#div_cancha {
  display: grid;
  grid-template-columns: 120px 120px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20%;
}

.button_scroll {
  color: red;
  font-size: 18px;
  cursor: pointer;
  font-weight: bolder;
}

#third-section {
  display: flex;
  padding: 0% 30% 2% 30%;
  align-items: center;
  flex-direction: column;
}

#third-section input {
  border: 2px red solid;
  height: 30px;
  margin-bottom: 10%;
  padding: 15px;
  margin: 6% 5% 0% 5%;
  font-family: "belwe", sans-serif;
}

#third-section input:last-child {
  height: 70px;
  margin-bottom: 10%;
  padding: 2px;
}

#third-section input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: red;
  font-size: 14px;
}

#third-section input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: red;
  opacity: 1;
  font-size: 17px;
  font-weight: bold;
}

#third-section input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: red;
  opacity: 1;
  font-size: 17px;
  font-weight: bold;
}

#third-section input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
  font-size: 17px;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: red;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: -80px;
  margin-top: -1vh;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  visibility: visible;
}
