.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Untitledsans, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

h1 {
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 70px;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Untitledsans, sans-serif;
  font-size: 2em;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

p {
  margin-bottom: 40px;
  font-family: Untitledsans, sans-serif;
  font-size: 0.65em;
  line-height: 26px;
  font-weight: 300;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Untitledsans, sans-serif;
  color: #000;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #ededed;
}

.top-left {
  position: fixed;
  left: 20px;
  top: 20px;
  right: auto;
  bottom: auto;
  z-index: 100;
  max-width: 65%;
}

.bottom-right {
  position: fixed;
  left: auto;
  top: auto;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  padding-right: 20px;
  padding-bottom: 20px;
}

.moving-text---container {
  position: fixed;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto;
  z-index: 1;
}

.moving-text {
  position: absolute;
  z-index: 20;
  width: 9000px;
  font-family: Untitledsans, sans-serif;
  font-size: 5.7em;
  font-weight: 300;
}

.project---slider {
  position: relative;
  height: 100vh;
}

.project---slider---container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section---description {
  position: static;
  display: block;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.project---slides-icons {
  display: none;
}

.work---overlay-text {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.work---overlay-text:hover {
  color: #000;
}

.top-right {
  position: fixed;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 25%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.work {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  clear: both;
}

.work---overlay-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgba(243, 243, 244, 0.71);
}

.work---overlay-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.work---overlay-text-container:hover {
  color: #000;
}

.project---description---grid {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 120px;
  clear: both;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bottom-left {
  position: fixed;
  left: 20px;
  top: auto;
  right: auto;
  bottom: 20px;
  z-index: 100;
}

.right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.left-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-arrow---image {
  display: none;
  max-width: 35px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.work---container {
  position: relative;
  z-index: 5;
  margin-top: 350px;
}

.underline {
  text-decoration: underline;
}

.right-arrow---image {
  display: none;
  max-width: 35px;
  float: right;
}

.project---back---white-arrow {
  position: absolute;
  right: 60px;
  z-index: 7;
  max-width: 35px;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.down-arrow---container {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.down-arrow---image {
  max-width: 35px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.project---slider---mask {
  width: 100vw;
}

.down-arrow {
  width: 50px;
  height: 45px;
}

.project---next {
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project---next---black-arrow {
  position: absolute;
  z-index: 8;
  max-width: 35px;
  margin-left: 10px;
}

.project---link {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.link-arrow-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-container {
  width: 45px;
  margin-bottom: 23px;
}

.project---next---white-arrow {
  position: absolute;
  z-index: 7;
  max-width: 35px;
  margin-left: 10px;
}

.panoramic-moment---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panoramic-moment---slide._4 {
  background-image: url('../images/PM_5.jpg');
}

.panoramic-moment---slide._3 {
  background-image: url('../images/PM_4.gif');
}

.panoramic-moment---slide._2 {
  background-image: url('../images/PM_2.jpg');
}

.panoramic-moment---slide._1 {
  background-image: url('../images/PM_1.jpg');
}

.panoramic-moment---slide._5 {
  background-image: url('../images/PM_6.gif');
}

.panoramic-moment---slide._6 {
  background-image: url('../images/PM_7.jpg');
}

.panoramic-moment---slide._7 {
  background-image: url('../images/PM_9.jpg');
}

.panoramic-moment---slide._8 {
  background-image: url('../images/PM_10.jpg');
}

.panoramic-moment---slide._9 {
  background-image: url('../images/PM_11.jpg');
}

.panoramic-moment---slide._10 {
  background-image: url('../images/PM_12.jpg');
}

.panoramic-moment---slide._11 {
  background-image: url('../images/PM_13.jpg');
}

.panoramic-moment---slide._12 {
  background-image: url('../images/PM_14.jpg');
}

.panoramic-moment---slide._13 {
  background-image: url('../images/PM_15.jpg');
}

.mixtape_volume02_byStrauss---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mixtape_volume02_byStrauss---slide._1 {
  background-image: url('../images/Strauss_1.jpg');
}

.mixtape_volume02_byStrauss---slide._2 {
  background-image: url('../images/Strauss_2.jpg');
}

.mixtape_volume02_byStrauss---slide._3 {
  background-image: url('../images/Strauss_3.jpg');
}

.mixtape_volume02_byStrauss---slide._4 {
  background-image: url('../images/Strauss_4.gif');
}

.mixtape_volume02_byStrauss---slide._5 {
  background-image: url('../images/Strauss_5.jpg');
}

.mixtape_volume02_byStrauss---slide._6 {
  background-image: url('../images/Strauss_6.jpg');
}

.mixtape_volume02_byStrauss---slide._7 {
  background-image: url('../images/Strauss_7.jpg');
}

.mixtape_volume02_byStrauss---slide._8 {
  background-image: url('../images/Strauss_8.jpg');
}

.mixtape_volume02_byStrauss---slide._9 {
  background-image: url('../images/Strauss_9.jpg');
}

.mixtape_volume02_byStrauss---slide._10 {
  background-image: url('../images/Strauss_10.jpg');
}

.mixtape_volume02_byStrauss---slide._11 {
  background-image: url('../images/Strauss_11.gif');
}

.mixtape_volume02_byStrauss---slide._12 {
  background-image: url('../images/Strauss_12.gif');
}   

.mixtape_volume02_byStrauss---slide._13 {
  background-image: url('../images/Strauss_13.gif');
}

.mixtape_volume02_byStrauss---slide._14 {
  background-image: url('../images/Strauss_14.gif');
}

.mixtape_volume02_byStrauss---slide._15 {
  background-image: url('../images/Strauss_15.jpg');
}

.fondationjacquesouellette---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.fondationjacquesouellette---slide._4 {
  background-image: url('../images/JO_4.gif');
}

.fondationjacquesouellette---slide._3 {
  background-image: url('../images/JO_3.gif');
}

.fondationjacquesouellette---slide._2 {
  background-image: url('../images/JO_2.jpg');
}

.fondationjacquesouellette---slide._1 {
  background-image: url('../images/JO_1.jpg');
}

.fondationjacquesouellette---slide._5 {
  background-image: url('../images/JO_5.jpg');
}

.fondationjacquesouellette---slide._6 {
  background-image: url('../images/JO_6.jpg');
}

.fondationjacquesouellette---slide._7 {
  background-image: url('../images/JO_7.jpg');
}

.fondationjacquesouellette---slide._9 {
  background-image: url('../images/JO_9.jpg');
}

.fondationjacquesouellette---slide._8 {
  background-image: url('../images/JO_8.jpg');
}

.fondationjacquesouellette---slide._10 {
  background-image: url('../images/JO_11.gif');
}

.fondationjacquesouellette---slide._11 {
  background-image: url('../images/JO_12.jpg');
}

.fondationjacquesouellette---slide._12 {
  background-image: url('../images/JO_13.jpg');
}

.fondationjacquesouellette---slide._13 {
  background-image: url('../images/JO_14.jpg');
}

.fondationjacquesouellette---slide._14 {
  background-image: url('../images/JO_15.jpg');
}

.fondationjacquesouellette---slide._15 {
  background-image: url('../images/JO_16.jpg');
}

.Frakta-Backpack---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.Frakta-Backpack---slide._1 {
  background-image: url('../images/frakta_1.jpg');
}

.Frakta-Backpack---slide._2 {
  background-image: url('../images/frakta_2.jpg');
}

.Frakta-Backpack---slide._3 {
  background-image: url('../images/frakta_3.jpg');
}

.Frakta-Backpack---slide._4 {
  background-image: url('../images/Frakta_5.1.jpg');
}

.Frakta-Backpack---slide._5 {
  background-image: url('../images/frakta_6.jpg');
}

.Frakta-Backpack---slide._6 {
  background-image: url('../images/frakta_7.jpg');
}

.bises---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bises---slide._4 {
  background-image: url('../images/BISE_4.jpg');
}

.bises---slide._3 {
  background-image: url('../images/BISE_3.jpg');
}

.bises---slide._2 {
  background-image: url('../images/BISE_2.jpg');
}

.bises---slide._1 {
  background-image: url('../images/BISE_1.jpg');
}

.bises---slide._5 {
  background-image: url('../images/BISE_5.jpg');
}

.bises---slide._6 {
  background-image: url('../images/BISE_6.jpg');
}

.bises---slide._7 {
  background-image: url('../images/BISE_7.jpg');
}

.vinvinvin---slide {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.vinvinvin---slide._1 {
  background-image: url('../images/vinvinvin_1.jpg');
}

.vinvinvin---slide._2 {
  background-image: url('../images/vinvinvin_2.jpg');
}

.vinvinvin---slide._3 {
  background-image: url('../images/vinvinvin_3.gif');
}

.vinvinvin---slide._4 {
  background-image: url('../images/vinvinvin_4.jpg');
}

.vinvinvin---slide._5 {
  background-image: url('../images/vinvinvin_5.gif');
}

.vinvinvin---slide._6 {
  background-image: url('../images/vinvinvin_6.jpg');
}

.vinvinvin---slide._7 {
  background-image: url('../images/vinvinvin_7.jpg');
}

.vinvinvin---slide._8 {
  background-image: url('../images/vinvinvin_8.jpg');
}

.vinvinvin---slide._9 {
  background-image: url('../images/vinvinvin_9.jpg');
}

.vinvinvin---slide._10 {
  background-image: url('../images/vinvinvin_10.jpg');
}


.info---left-arrow {
  position: fixed;
  left: auto;
  top: 200px;
  right: 80px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 35px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info---right-arrow {
  position: fixed;
  left: auto;
  top: 200px;
  right: 20px;
  bottom: auto;
  display: block;
  max-width: 35px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info---slider {
  position: relative;
  overflow: scroll;
  height: 100vh;
  background-color: transparent;
}

.info---slide {
  overflow: scroll;
}

.info---slide---content-container {
  margin-top: 200px;
  margin-bottom: 60px;
  padding-right: 140px;
  padding-left: 20px;
}

.info---profile-picture {
  max-width: 60%;
  margin-bottom: 20px;
}

.info---text {
  margin-bottom: 60px;
}

.info---subtitle {
  margin-bottom: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.submit-button {
  background-color: #91c8c6;
  font-size: 20px;
  line-height: 25px;
}

.project---behance---container {
  margin-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7em;
}

.project---behance---black-arrow {
  position: absolute;
  z-index: 8;
  max-width: 26px;
  margin-top: 3px;
  margin-left: 10px;
}

.project---behance---white-arrow {
  position: absolute;
  z-index: 7;
  max-width: 26px;
  margin-top: 3px;
  margin-left: 10px;
}

.project---back---black-arrow {
  position: absolute;
  right: 60px;
  z-index: 8;
  max-width: 35px;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.info---column {
  padding-right: 0px;
  padding-left: 0px;
}

.project---next---mobile {
  display: none;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mail-link {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.mail-link:hover {
  color: #000;
}

.info---slider---container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info---left-arrow---image {
  display: block;
  max-width: 35px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.info---right-arrow---image {
  display: block;
  max-width: 35px;
  float: right;
}

.info---profile-picture---mobile-fix {
  display: none;
  max-width: 60%;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .project---next---mobile {
    display: none;
  }
  .info---profile-picture---mobile-fix {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 24px;
    line-height: 30px;
  }
  h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .moving-text---container {
    display: none;
  }
  .project---slider {
    height: 60vh;
  }
  .project---slider---container {
    margin-top: 150px;
  }
  .work---overlay-text {
    text-align: center;
  }
  .work {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .project---description---grid {
    display: block;
    margin-bottom: 140px;
    padding-top: 70px;
  }
  .left-arrow---image {
    max-width: 25px;
  }
  .work---container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .right-arrow---image {
    max-width: 25px;
  }
  .project---back---white-arrow {
    margin-right: 0px;
  }
  .down-arrow---container {
    margin-bottom: 0px;
  }
  .down-arrow---image {
    max-width: 25px;
  }
  .down-arrow {
    display: none;
  }
  .project---next {
    display: none;
  }
  .info---left-arrow {
    left: 20px;
    top: 125px;
    right: auto;
    bottom: auto;
  }
  .info---right-arrow {
    left: 50px;
    top: 125px;
    right: auto;
    bottom: auto;
  }
  .info---slide---content-container {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 140px;
    padding-right: 20px;
  }
  .info---profile-picture {
    display: none;
  }
  .info---subtitle {
    margin-top: 180px;
  }
  .info---subtitle.fix-mobile {
    margin-top: 0px;
  }
  .project---back---black-arrow {
    margin-right: 0px;
  }
  .featured-column {
    padding-right: 20px;
    padding-left: 20px;
  }
  .project---next---mobile {
    display: block;
    margin-bottom: 0px;
  }
  .info---slider---container {
    margin-top: 0px;
  }
  .info---left-arrow---image {
    max-width: 25px;
  }
  .info---right-arrow---image {
    max-width: 25px;
  }
  .info---profile-picture---mobile-fix {
    display: block;
    margin-top: 180px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 19px;
    line-height: 26px;
  }
  .top-left {
    max-width: 80%;
  }
  .bottom-right {
    left: 20px;
    top: auto;
    right: auto;
    bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .project---slider {
    height: 33vh;
  }
  .project---slider---container {
    margin-top: 180px;
  }
  .top-right {
    display: none;
  }
  .work {
    margin-bottom: 10px;
  }
  .project---description---grid {
    margin-bottom: 180px;
    padding-top: 40px;
  }
  .bottom-left {
    bottom: 50px;
  }
  .project---next {
    display: none;
  }
  .info---left-arrow {
    top: 150px;
  }
  .info---right-arrow {
    top: 150px;
  }
  .info---text {
    font-size: 0.65em;
    line-height: 26px;
  }
  .info---subtitle {
    margin-top: 200px;
  }
  .info---subtitle.fix-mobile {
    margin-top: 0px;
  }
  .info---slider---container {
    margin-top: 0px;
  }
  .info---profile-picture---mobile-fix {
    margin-top: 200px;
  }
}

@font-face {
  font-family: 'Untitledsans';
  src: url('../fonts/UNTITLEDSANS-LIGHT.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
}